<div id="cart-div">
    <div class="cart-up">
        <p>Cart</p>
    </div>
    <div class="cart-down"></div>
    <p id="items-total">Items in cart: 0</p>
    <p id="cart-total">Total: $0</p>
    <form>
        <button id="checkout-btn" formaction="/checkout">Checkout</button>
    </form>
</div>