<footer>
    <div id="img-container">
        <img src="../images/facebook-icon.svg" alt="facebook icon" width="53px" height="53px" class="social-icon">
        <img src="../images/instagram-icon.svg" alt="instagram icon" width="53px" height="53px" class="social-icon">
        <img src="../images/tik-tok-icon.svg" alt="tik-tok icon" width="53px" height="53px" class="social-icon">
        <img src="../images/payment-icons.svg" alt="payment methods image" height="53px">
    </div>
</footer>