<nav id="navbar">
    <img id="hamburger-btn" src="../images/icon-menu.svg" alt="drop-down menu" />
    <div id="hamburger-menu">
        <a class="link" href="/men">Men</a>
        <a class="link" href="/women">Women</a>
        <a class="link" href="/about">About</a>
        <a class="link" href="/contact">Contact</a>
    </div>
    <a href="/">
        <img id="logo" src="../images/logo.svg" alt="Sneakers logo image/home link" width="138px" height="20px"/>
    </a>

    <div id="links">
        <a class="link" href="/men">Men</a>
        <a class="link" href="/women">Women</a>
        <a class="link" href="/about">About</a>
        <a class="link" href="/contact">Contact</a>
    </div>

    <div id="cart-profile">
        <img id="cart" src="../images/icon-cart.svg" alt="Shoping cart icon" />
        <div class="cart-items">0</div>
    </div>
</nav>