<div class="top-start">
    <h1>About us</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, aut necessitatibus voluptatem quidem praesentium delectus quod obcaecati, qui dolores laboriosam ut dolorum? Quaerat ad aliquam maiores esse accusantium? Deleniti, saepe!</p>
</div>