<main id="main-index">
  <div id="sale">
    <p class="sale-text">WINTER<br />SALE</p>
    <p class="sale-text">UP TO<br />50% OFF</p>
  </div>
  <div id="main-container">
    <div>
      <a href="/women"><img
          src="../images/women-img.webp"
          alt="Woman products"
          width="600"
          height="800"
          class="index-img"
        /></a>
    </div>
    <div>
      <a href="/men"><img
          src="../images/men-img-small.jpg"
          alt="Men products"
          width="600"
          height="800"
          class="index-img"
        /></a>
    </div>
  </div>
</main>